
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <span class="h6 col-4">Nom: </span>
        <span class="col-8">{{result.first_name}}</span>
      </li>
      <li class="list-group-item">
        <span class="h6 col-4">Prénom: </span>
        <span class="col-8">{{result.last_name}}</span>
      </li>
      <li class="list-group-item">
        <span class="h6 col-4">Travail: </span>
        <span class="col-8">{{result.job}}</span>
      </li>
      <li class="list-group-item">
        <span class="h6 col-4">Email: </span>
        <span class="col-8">{{result.mail}}</span>
      </li>
      <li class="list-group-item">
        <span class="h6 col-4">N° Tél: </span>
        <span class="col-8">{{result.phone_number}}</span>
      </li>
      <li class="list-group-item">
        <span class="h6 col-4">Adresse: </span>
        <span class="col-8">{{result.address}}</span>
      </li>
    </ul>
