<div class="container">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Rechercher">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="first_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom </th>
      <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="last_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
      <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="rdvs">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"> <a class="btn btn-primary" style="color: white;" [routerLink]="['/patient-rdvs',element.id]">Rdvs</a> </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="consultations">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"> <a class="btn btn-primary" style="color: white;" [routerLink]="['/patient-consultations',element.id]">Consultaions</a> </td>
    </ng-container>


    <!-- Name Column -->
    <!-- <ng-container matColumnDef="job">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Travail </th>
      <td mat-cell *matCellDef="let element"> {{element.job}} </td>
    </ng-container> -->

    <!-- Name Column -->
    <!-- <ng-container matColumnDef="mail">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.mail}} </td>
    </ng-container> -->

    <!-- Name Column -->
    <!-- <ng-container matColumnDef="phone_number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> N° Tél </th>
      <td mat-cell *matCellDef="let element"> {{element.phone_number}} </td>
    </ng-container> -->

    <!-- Name Column -->
    <!-- <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Adresse </th>
      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container> -->

    <!-- Name Column -->
    <ng-container matColumnDef="link">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"> <a class="btn btn-primary" style="color: white;" [routerLink]="['/profile-profile',element.id]">Plus d'info</a> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
  </div>
