<div *ngIf="result" class="mt-3 container">
  <div class="mb-3 card" *ngFor="let rdv of result.slice().reverse(); let i = index">
    <div class="card-header">
      Consultation {{result.length-i}}
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <span class="h6 col-4">Date: </span>
        <span class="col-8">{{rdv.date}}</span>
      </li>
      <li class="list-group-item">
        <span class="h6 col-4">Heure de début: </span>
        <span class="col-8">{{rdv.starting_hour}}</span>
      </li>
      <li class="list-group-item">
        <span class="h6 col-4">Heure de la fin</span>
        <span class="col-8">{{rdv.finishing_hour}}</span>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/consultations',rdv.id]" class="btn btn-primary">Plus de details</a>
      </li>
    </ul>
  </div>
</div>
<div *ngIf="!result || result.length==0" class="mt-3 container">
  <p>Pas de rdv</p>
</div>

