<form class="form-signin" #f="ngForm" (ngSubmit)="addUser(f.value)">
  <h2 class="form-signin-heading">Inscription :</h2>
  <label for="firstName" class="sr-only">Nom</label>
  <input type="text" id="firstName" name="firstName" ngModel class="form-control" placeholder="Nom" required autofocus>
  <label for="lastName" class="sr-only">Prénom</label>
  <input type="text" id="lastName" name="lastName" ngModel class="form-control" placeholder="Prenom" required>
  <label for="age" class="sr-only">Age</label>
  <input type="number" id="age" name="age" ngModel class="form-control" placeholder="Age" min="0" required>
  <label for="job" class="sr-only">Travail</label>
  <input type="text" id="job" name="job" ngModel class="form-control" placeholder="Travail" required>
  <label for="mail" class="sr-only">Email</label>
  <input type="text" id="mail" name="mail" ngModel class="form-control" placeholder="Email" required>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" name="password" ngModel class="form-control" placeholder="Password" required>
  <label for="phoneNumber" class="sr-only">Numéro de télephone</label>
  <input type="number" id="phoneNumber" name="phoneNumber" ngModel class="form-control" placeholder="Numéro de télephone" required>
  <label for="address" class="sr-only">Adresse</label>
  <input type="text" id="address" name="address" ngModel class="form-control" placeholder="Adresse" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">S'inscrire</button>
</form>
